PORT=8080
MONGODB_URI=mongodb+srv://USER:PASS@CLUSTER/rahla?retryWrites=true&w=majority
JWT_SECRET=b6e715fb3ca713a51ed9c239d5e5ee75dee0cdbc6f62bd990f0aebc30ffae008d2a5d6853f651d8767dbd9690d8f77409119decf15e59394159d7f15d9a4c424
CORS_ORIGIN=https://bthwani1.github.io,https://bthwani1.github.io/web-test

# Bunny CDN
BUNNY_CDN_API_KEY=8e26303d-9e5c-474e-8a814128ed9e-4658-4664
BUNNY_CDN_STORAGE_ZONE=rahlamedia
BUNNY_CDN_PULL_ZONE=rahlacdn

# Monitoring
SENTRY_DSN=your-sentry-dsn-here
POSTHOG_API_KEY=your-posthog-key
GA4_MEASUREMENT_ID=G-XXXXXX

# optional
ADMIN_NAME=Owner
ADMIN_EMAIL=owner@example.com
ADMIN_PASSWORD=ChangeMe123
